@font-face {
  font-family: "Satoshi";
  src: url("../../fonts/Satoshi-Regular.ttf");
}

#head {
  background-color: rgba(0, 0, 0, 1);
  font-family: "Satoshi";

  .head {
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    .left-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
